<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>collaboration code review platform</title>
  </head>
  <body>
    <header>
      <div id="root">
        <div class="image-preview">
          <img src="/images/favicon.ico" alt="" />
        </div>
        <h1>WELCOME to collaboration code review platform</h1>
        <p>
          The Collaborative Code Review Platform is an API-powered solution that
          allows developers and teams to share code snippets, request feedback,
          and work together on reviews in real time. It includes secure user
          management, organized project and repository structures, code
          submissions, inline commenting, review tracking, and notification
          features. The platform streamlines the peer review process by giving
          teams a structured and efficient way to exchange and collaborate on
          feedback asynchronously.
        </p>
      </div>
    </header>
  </body>
</html>
